/* MatrixTypeSelector.css */

/* Conteneur des options */
.options {
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Style des labels de type de matrice */
  .options h3 {
    margin-bottom: 10px;
  }
  
  .options label {
    margin-right: 15px;
    font-size: 16px;
  }
  
  /* Style des radios */
  .options input[type="radio"] {
    margin-right: 5px;
    transform: scale(1.2);
    cursor: pointer;
  }
  