/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2f3b46;
}

/* Conteneur principal */
.matrix-container {
  text-align: center;
  background-color: #3a4755;
  padding: 20px;
  border-radius: 8px;
  color: white;
  width: 40%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.matrix-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

/* Flexbox pour organiser matrice + vecteur */
.matrix-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

/* Matrice */
.matrix {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px; /* Réduit l'espace entre les lignes */
}

.row {
  display: flex;
  gap: 10px; /* Réduit l'espace entre les colonnes */
}

.cell {
  max-width: 40px;
  width: 40px; /* Taille réduite */
  height: 40px;
  min-height: 40px;
  text-align: center;
  font-size: 18px;
  border: 8px solid gray;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #333;
  transition: border-color 0.3s, background-color 0.3s;
}

.cell:focus {
  background-color: #eef;
}

/* Vecteur colonne */
.column-vector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px; /* Réduit l'espace entre les cellules */
}

.column-cell {
  max-width: 40px;
  max-height: 40px;
  width: 40px; /* Taille réduite */
  height: 40px;
  text-align: center;
  font-size: 20px;
  border: 3px solid gray;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #333;
  transition: border-color 0.3s, background-color 0.3s;
}

.column-cell:focus {
  background-color: #eef;
}

/* Conteneur boutons */
.buttons {
  display: flex;
  justify-content: center; /* Aligne les boutons au centre */
  gap: 10px; /* Espacement horizontal entre les boutons */
  margin-top: 20px;
}

.button {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  color: #333;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #4ec3e0;
}

/* Indicateur de taille */
.matrix-size {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 15px;
}

.n1{
  display: flex;
  flex-direction: row;
  gap: 10px;
}