body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4a261;
  }
  
  .main-container {
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: #2f3b46;
    padding: 20px;
    width: 100%;
    gap: 30px;
  }
  
  .options-box, .config-box {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    background-color: #3a4755;
    color: white;
    max-width: 500px;
  }
  
  .options-box h3, .config-box h3, .option-section h4 {
    margin-top: 0;
    text-align: left;
  }
  
  .option-section {
    margin-bottom: 20px;
  }
  
  .option-section h4 {
    font-size: 1.1em;
    color: #61dafb;
  }
  
  .options-box label, .config-box p {
    display: block;
    margin: 5px 0 10px 0;
    text-align: left;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    background-color: #61dafb;
    border: #333;
    border-radius: 4px;
    color: #333;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  .button:hover {
    background-color: #4ec3e0;
  }
  